<!-- Header -->
<header id="site_header" class="header">
  <div class="header-content clearfix">

    <!-- Text Logo -->
    <div class="text-logo">
      <a href="index.html">
        <div class="logo-symbol">E</div>
        <div class="logo-text">Eyob <span>Tariku</span></div>
      </a>
    </div>
    <!-- /Text Logo -->

    <!-- Navigation -->
    <div class="site-nav mobile-menu-hide">
      <ul class="leven-classic-menu site-main-menu">
        <li class="menu-item" routerLinkActive="current-menu-item" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">About Me</a>
        </li>

        <li class="menu-item" routerLinkActive="current-menu-item">
          <a routerLink="/resume">Resume</a>
        </li>

        <li class="menu-item" routerLinkActive="current-menu-item">
          <a routerLink="/portfolio">Portfolio</a>
        </li>

        <li class="menu-item" routerLinkActive="current-menu-item">
          <a routerLink="/blog">Blog</a>
        </li>

        <li class="menu-item" routerLinkActive="current-menu-item">
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>

    <a class="menu-toggle mobile-visible">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</header>
<!-- /Header -->
