<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div id="content" class="page-content site-content single-post" role="main">
        <div id="home_content" class="home-content third-style">
          <div class="start-page-full-width">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="inner-content">
                  <div class="fill-block" style="background-image: url(/assets/img/main_photo.jpg);"></div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="inner-content inner-text-block">
                  <div class="hp-text-block">
                    <div class="sp-subtitle">Full-Stack Developer</div>
                    <h2 class="hp-main-title">Eyob Tariku</h2>
                    <p>Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis, risus non condimentum gravida, odio mauris ullamcorper felis, ut venenatis purus ex eu mi. Quisque imperdiet lacinia urna, a placerat sapien pretium eu.</p>

                    <div class="hp-buttons">
                      <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-50"></div>

            <div class="block-title">
              <h2>What I Do</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-6 ">
            <div class="info-list-w-icon">
              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-pen"></i>
                </div>

                <div class="ci-text">
                  <h4>Copywrite</h4>
                  <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.</p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-display"></i>
                </div>

                <div class="ci-text">
                  <h4>Web Design</h4>
                  <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.</p>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xs-12 col-sm-6 ">
            <div class="info-list-w-icon">

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-shop"></i>
                </div>

                <div class="ci-text">
                  <h4>Ecommerce</h4>
                  <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.</p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-megaphone"></i>
                </div>

                <div class="ci-text">
                  <h4>Marketing</h4>
                  <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12">
            <div class="p-20"></div>

            <!-- Testimonials -->
            <div class="block-title">
              <h2>Testimonials</h2>
            </div>

            <!-- Testimonial Slides -->
            <div id="testimonials-slide" class="testimonials owl-carousel">
              <owl-carousel-o [options]="testimonialsCarouselOptions">

                <!-- Testimonial 1 -->
                <ng-template carouselSlide>
                  <div class="testimonial-item">
                    <!-- Testimonial Content -->
                    <div class="testimonial-content">
                      <!-- Picture -->
                      <div class="testimonial-picture">
                        <img src="../../assets/img/testimonials/testimonial-1.jpg" alt="Billy Adams"/>
                      </div>
                      <!-- /Picture -->

                      <!-- Testimonial Text -->
                      <div class="testimonial-text">
                          <p>Donec eu est vel metus consequat volutpat. Nunc aliquet euismod mauris, a feugiat urna ullamcorper non.</p>
                      </div>
                      <!-- /Testimonial Text -->

                      <!-- Testimonial author information -->
                      <div class="testimonial-author-info">
                        <h5 class="testimonial-author">Billy Adams</h5>
                        <p class="testimonial-firm">Rolling Thunder</p>
                      </div>
                      <!-- /Testimonial author information -->

                      <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                      </div>

                        <div class="testimonial-icon-big">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <!-- /Testimonial Content -->
                  </div>
                  <!-- End of Testimonial 1 -->
                </ng-template>

                <!-- Testimonial 1 -->
                <ng-template carouselSlide>
                  <div class="testimonial-item">
                    <!-- Testimonial Content -->
                    <div class="testimonial-content">
                      <!-- Picture -->
                      <div class="testimonial-picture">
                        <img src="../../assets/img/testimonials/testimonial-1.jpg" alt="Billy Adams"/>
                      </div>
                      <!-- /Picture -->

                      <!-- Testimonial Text -->
                      <div class="testimonial-text">
                          <p>Donec eu est vel metus consequat volutpat. Nunc aliquet euismod mauris, a feugiat urna ullamcorper non.</p>
                      </div>
                      <!-- /Testimonial Text -->

                      <!-- Testimonial author information -->
                      <div class="testimonial-author-info">
                        <h5 class="testimonial-author">Billy Adams</h5>
                        <p class="testimonial-firm">Rolling Thunder</p>
                      </div>
                      <!-- /Testimonial author information -->

                      <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                      </div>

                        <div class="testimonial-icon-big">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <!-- /Testimonial Content -->
                  </div>
                  <!-- End of Testimonial 1 -->
                </ng-template>

                                <!-- Testimonial 1 -->
                <ng-template carouselSlide>
                  <div class="testimonial-item">
                    <!-- Testimonial Content -->
                    <div class="testimonial-content">
                      <!-- Picture -->
                      <div class="testimonial-picture">
                        <img src="../../assets/img/testimonials/testimonial-1.jpg" alt="Billy Adams"/>
                      </div>
                      <!-- /Picture -->

                      <!-- Testimonial Text -->
                      <div class="testimonial-text">
                        <p>Donec eu est vel metus consequat volutpat. Nunc aliquet euismod mauris, a feugiat urna ullamcorper non.</p>
                      </div>
                      <!-- /Testimonial Text -->

                      <!-- Testimonial author information -->
                      <div class="testimonial-author-info">
                        <h5 class="testimonial-author">Billy Adams</h5>
                        <p class="testimonial-firm">Rolling Thunder</p>
                      </div>
                      <!-- /Testimonial author information -->

                      <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                      </div>

                      <div class="testimonial-icon-big">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <!-- /Testimonial Content -->
                  </div>
                  <!-- End of Testimonial 1 -->
                </ng-template>
                <!-- /Testimonials -->
              </owl-carousel-o>
            </div><!-- / End of Testimonial Slide -->
            <div class="p-40"></div>

            <div class="row">
              <div class=" col-xs-12 col-sm-12">
                <div class="block-title">
                  <h2>Fun Facts</h2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class=" col-xs-12 col-sm-3">
                <div class="lm-info-block gray-default">
                  <i class="linecons linecons-star"></i>
                  <h4>Github Commits</h4>
                  <span class="lm-info-block-value">4,300+</span>
                  <span class="lm-info-block-text"></span>
                </div>
              </div>

              <div class=" col-xs-12 col-sm-3">
                <div class="lm-info-block gray-default">
                  <i class="linecons linecons-diamond"></i>
                  <h4>Successful Projects</h4>
                  <span class="lm-info-block-value">35+</span>
                  <span class="lm-info-block-text"></span>
                </div>
              </div>

              <div class=" col-xs-12 col-sm-3 ">
                <div class="lm-info-block gray-default">
                  <i class="linecons linecons-calendar"></i>
                  <h4>Work Experience</h4>
                  <span class="lm-info-block-value">4+</span>
                  <span class="lm-info-block-text"></span>
                </div>
              </div>

              <div class=" col-xs-12 col-sm-3 ">
                <div class="lm-info-block gray-default">
                  <i class="linecons linecons-cup"></i>
                  <h4>Coffee Consumed</h4>
                  <span class="lm-info-block-value">1,286</span>
                  <span class="lm-info-block-text"></span>
                </div>
              </div>
            </div>

            <div class="p-60"></div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Design Skills</h2>
            </div>

            <div id="skills_1" class="skills-info skills-first-style">
              <!-- Skill 1 -->
              <div class="clearfix">
                <h4>UI/UX Design</h4>
                <div class="skill-value">95%</div>
              </div>

              <div id="skill_1" data-value="95" class="skill-container">
                <div class="skill-percentage"></div>
              </div>
              <!-- /Skill 1 -->

              <!-- Skill 2 -->
              <div class="clearfix">
                <h4>Print Design</h4>
                <div class="skill-value">75%</div>
              </div>

              <div id="skill_2" data-value="75" class="skill-container">
                <div class="skill-percentage"></div>
              </div>
              <!-- /Skill 2 -->

              <!-- Skill 3 -->
              <div class="clearfix">
                <h4>Graphic Design</h4>
                <div class="skill-value">85%</div>
              </div>
              <div id="skill_3" data-value="85" class="skill-container">
                <div class="skill-percentage"></div>
              </div>
              <!-- Skill 3 -->

              <!-- Skill 4 -->
              <div class="clearfix">
                <h4>Logo Design</h4>
                <div class="skill-value">90%</div>
              </div>
              <div id="skill_4" data-value="90" class="skill-container">
                <div class="skill-percentage"></div>
              </div>
              <!-- /Skill 4 -->
            </div>
          </div>


          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Coding Skills</h2>
            </div>

            <div id="skills_2" class="skills-info skills-first-style">
              <!-- Skill 5 -->
              <div class="clearfix">
                <h4>HTML / CSS</h4>
                <div class="skill-value">100%</div>
              </div>
              <div id="skill_5" data-value="100" class="skill-container">
                <div class="skill-percentage"></div>
              </div>
              <!-- /Skill 5 -->

              <!-- Skill 6 -->
              <div class="clearfix">
                <h4>PHP</h4>
                <div class="skill-value">90%</div>
              </div>
              <div id="skill_6" data-value="90" class="skill-container">
                <div class="skill-percentage"></div>
              </div>
              <!-- /Skill 6 -->

              <!-- Skill 7 -->
              <div class="clearfix">
                <h4>JavaScript</h4>
                <div class="skill-value">90%</div>
              </div>
              <div id="skill_7" data-value="90" class="skill-container">
                <div class="skill-percentage"></div>
              </div>
              <!-- /Skill 7 -->

              <!-- Skill 8 -->
              <div class="clearfix">
                <h4>Smarty / Twig</h4>
                <div class="skill-value">85%</div>
              </div>
              <div id="skill_8" data-value="85" class="skill-container">
                <div class="skill-percentage"></div>
              </div>
              <!-- /Skill 8 -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
