<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div id="content" class="page-content site-content single-post" role="main">
        <div id="home_content" class="home-content third-style">
          <div class="start-page-full-width">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="inner-content">
                  <div class="fill-block" style="background-image: url(/assets/img/main_photo.jpg);"></div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="inner-content inner-text-block">
                  <div class="hp-text-block">
                    <div class="sp-subtitle">Full-Stack Developer</div>
                    <h2 class="hp-main-title">Eyob Tariku</h2>
                    <p>Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis, risus non condimentum gravida, odio mauris ullamcorper felis, ut venenatis purus ex eu mi. Quisque imperdiet lacinia urna, a placerat sapien pretium eu.</p>

                    <div class="hp-buttons">
                      <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-50"></div>

            <div class="block-title">
              <h2>What I Do</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-6 ">
            <div class="info-list-w-icon">
              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-pen"></i>
                </div>

                <div class="ci-text">
                  <h4>Copywrite</h4>
                  <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.</p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-display"></i>
                </div>

                <div class="ci-text">
                  <h4>Web Design</h4>
                  <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.</p>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xs-12 col-sm-6 ">
            <div class="info-list-w-icon">

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-shop"></i>
                </div>

                <div class="ci-text">
                  <h4>Ecommerce</h4>
                  <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.</p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-megaphone"></i>
                </div>

                <div class="ci-text">
                  <h4>Marketing</h4>
                  <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12">
            <div class="p-20"></div>

            <ng-container *ngIf="testimonials.length > 0">
              <!-- Testimonials -->
              <div class="block-title">
                <h2>Testimonials</h2>
              </div>

              <!-- Testimonial Slides -->
              <app-spinner [height]="150" *ngIf="isFetchingTestimonial"></app-spinner>
              <div id="testimonials-slide" class="testimonials owl-carousel" *ngIf="!isFetchingTestimonial">
                <owl-carousel-o [options]="testimonialsCarouselOptions">
                  <!-- Testimonial 1 -->
                  <ng-template carouselSlide *ngFor="let testimonial of testimonials">
                    <app-testimonial [testimonial]="testimonial"></app-testimonial>
                  </ng-template>
                  <!-- /Testimonials -->
                </owl-carousel-o>
              </div><!-- / End of Testimonial Slide -->
            </ng-container>

            <div class="p-40"></div>
          </div>
        </div>

        <!-- Skills -->
        <div class="row">
          <div class="col-sm-12 col-md-6 featured-skills-col">
            <div class="block-title">
              <h2>My Featured Skills</h2>
            </div>
            <div class="featured-skills mt-2">
              <app-spinner [height]="150" [widthPercent]="80" *ngIf="isFetchingSkills"></app-spinner>
              <ng-container *ngIf="!isFetchingSkills">
                <app-skill-bar [skill]="skill" *ngFor="let skill of featuredSkills"></app-skill-bar>
              </ng-container>

              <div class="more-skill-btn">
                <a class="btn btn-primary mt-3" routerLink="/resume">See More Skills</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <app-subscription></app-subscription>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
