[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
python-decouple = "==3.1"
pytz = "==2018.5"
django-extensions = "==2.0.7"
six = "==1.11.0"
typing = "==3.6.4"
django = "==3.0.7"
mysqlclient = "==1.4.6"
factory-boy = "*"
djangorestframework = "*"
markdown = "~=3.0.0"
django-filter = "*"
django-cors-headers = "*"
django-environ = "*"
gunicorn = "*"
celery = "==4.4.2"
redis = "*"
django-celery-beat = "*"
coverage = "*"
django-celery-results = "*"
ipython = "*"
pyyaml = "*"
django-phonenumber-field = {extras = ["phonenumbers"],version = "*"}
django-livereload-server = "*"
coreapi = "~=1.32.0"
pygments = ">=2.4.0"
django-guardian = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
django-rest-auth = "*"

[requires]
python_version = "3.8"
