<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div id="content" class="page-content site-content single-post" role="main">
        <div id="home_content" class="home-content third-style">
          <div class="start-page-full-width">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="inner-content">
                  <div class="fill-block"></div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="inner-content inner-text-block">
                  <div class="hp-text-block">
                    <div class="sp-subtitle">Full-Stack Developer</div>
                    <h2 class="hp-main-title">Eyob Tariku</h2>
                    <p>I am a full-stack web application developer &amp; DevOps Engineer. I build modern single-page applications (SPA) using <mark>Angular 2+</mark>, RESTful API services using <mark>Django</mark> and deploy them on a <mark>Cloud</mark> provider of your choosing.</p>

                    <div class="hp-buttons">
                      <a (click)="downloadResume()" class="btn btn-primary">Download CV</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-50"></div>

            <div class="block-title">
              <h2>What I Do</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-6 ">
            <div class="info-list-w-icon">
              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <!-- <i class="linecons linecons-display"></i> -->
                  <i class="fas fa-laptop-code"></i>
                </div>

                <div class="ci-text">
                  <h4>Web Application</h4>
                  <p>I deliver modern web applications such as e-commerce sites, single-page web applications (SPA) & SaaS applications using Angular & TypeScript. The applications are guaranteed to be beautiful, user-friendly, and follow the latest best practices.</p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="linecons linecons-params"></i>
                </div>

                <div class="ci-text">
                  <h4>RESTful API</h4>
                  <p>I build clean & well-structured RESTful APIs using Python, Django & Flask. My APIs are properly documented in accordance to the OpenAPI 2.0 specification and implement automated tests with a test coverage of at least 80%.</p>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-xs-12 col-sm-6 ">
            <div class="info-list-w-icon">

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fas fa-server"></i>
                </div>

                <div class="ci-text">
                  <h4>Cloud Computing</h4>
                  <p>I deploy web applications and API services to a cloud infrastructure such as Digital Ocean, GCP, AWS, or Heroku. By using sensible configurations, I ensure your deployed applications are stable, accessible & easily scalable.</p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fas fa-code-branch"></i>
                </div>

                <div class="ci-text">
                  <h4>DevOps</h4>
                  <p>To facilitate Agile software development, I setup a CI/CD pipeline using automation & continuous integration tools to reduce the time spent between development & production. These tools include GitLab, Ansible, Docker Travis CI, and Circle CI.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12">
            <div class="p-20"></div>

            <ng-container *ngIf="testimonials.length > 0">
              <!-- Testimonials -->
              <div class="block-title">
                <h2>Testimonials</h2>
              </div>

              <!-- Testimonial Slides -->
              <app-spinner [height]="150" *ngIf="isFetchingTestimonial"></app-spinner>
              <div id="testimonials-slide" class="testimonials owl-carousel" *ngIf="!isFetchingTestimonial">
                <owl-carousel-o [options]="testimonialsCarouselOptions">
                  <!-- Testimonial 1 -->
                  <ng-template carouselSlide *ngFor="let testimonial of testimonials">
                    <app-testimonial [testimonial]="testimonial"></app-testimonial>
                  </ng-template>
                  <!-- /Testimonials -->
                </owl-carousel-o>
              </div><!-- / End of Testimonial Slide -->
            </ng-container>

            <div class="p-40"></div>
          </div>
        </div>

        <!-- Skills -->
        <div class="row">
          <div class="col-sm-12 col-md-6 featured-skills-col">
            <div class="block-title">
              <h2>My Featured Skills</h2>
            </div>
            <div class="featured-skills mt-2">
              <app-spinner [height]="250" [widthPercent]="80" *ngIf="isFetchingSkills"></app-spinner>
              <ng-container *ngIf="!isFetchingSkills">
                <div class="skill-bar-container" *ngFor="let skill of featuredSkills">
                  <app-skill-bar [skill]="skill"></app-skill-bar>
                </div>
              </ng-container>

              <div class="more-skill-btn" *ngIf="featuredSkills.length > 0">
                <a class="btn btn-primary mt-3" routerLink="/resume">See More Skills</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <app-subscription></app-subscription>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
