.fill-block {
  min-height: 480px !important;
  border-radius: 10px;
  background-image: url("/assets/img/cover.jpg");
}

.hp-text-block {
  border-radius: 10px;
}

#clients-carousel {
  display: block;
}

#testimonials-slide {
  display: block;
}

.featured-skills-col {
  border-right: 1.5px solid #333;
}

.featured-skills {
  width: 85%;
}

.hp-text-block p {
  line-height: 2;
}

mark {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 4px;
}

@media(max-width: 576px) {
  .fill-block {
    background-image: url("/assets/img/mobile-cover.jpg");
  }

  .featured-skills-col {
    border-right: none;
  }

  .featured-skills {
    width: 100%;
  }

  .more-skill-btn {
    text-align: center !important;
  }
}
