<footer class="padding-50 dark ui-bg-color01"
        data-animation-origin="top"
        data-animation-duration="500"
        data-animation-delay="800"
        data-animation-distance="50px">
   <div class="container-fluid nopadding">
      <div class="row">
         <div class="col-sm-3">
            <h5 class="font-accident-two-bold uppercase">Eyob Tariku Resume Website</h5>
            <p class="inline-block">
               The Gridus Resume Template has an unique modern flat intuitive design. You can choose one of 8 pre-defined Color schemes.
            </p>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-sm-3 cv-link">
            <h5 class="font-accident-two-bold uppercase">Download cv</h5>
            <div class="dividewhite1"></div>
            <a><i class="fa fa-long-arrow-down"></i>English</a>&nbsp;
            <a><i class="fa fa-long-arrow-down"></i>Amharic</a>&nbsp;
            <a><i class="fa fa-long-arrow-down"></i>Swedish</a>
            <p class="inline-block">
               The CV is in .pdf format. Use the Adobe Reader to open it.
            </p>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-sm-3">
            <h5 class="font-accident-two-bold uppercase">Newsletter</h5>
            <div class="dividewhite1"></div>
            <input class="newsletter-email" type="email" required="" name="ne" placeholder="Your Email">
            <a href="#!" class="btn btn-wh-trans btn-xs">OK</a>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-sm-3">
            <h5 class="font-accident-two-bold uppercase">Follow me</h5>
            <div class="follow">
               <ul class="list-inline social">
                <li><a class="rst-icon-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a class="rst-icon-facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a class="rst-icon-pinterest"><i class="fa fa-github"></i></a></li>
                <li><a class="rst-icon-instagram"><i class="fa fa-linkedin"></i></a></li>
               </ul>
            </div>
            <div class="divider-dynamic"></div>
         </div>
      </div>
      <div class="dividewhite1"></div>
      <div class="row">
         <div class="col-md-12 copyrights">
            <p>&copy; {{ today | date:'y' }} Eyob Tariku.</p>
         </div>
      </div>
   </div>
</footer>
