<div>
  <div>
    <div class="row">
      <div class="col-md-4 col-sm-12 order-md-2">
        <div class="ajax-page-nav">
          <div class="nav-item ajax-page-prev-next">
            <a (click)="onPrevious()"><i class="lnr lnr-chevron-left"></i></a>&nbsp;
            <a (click)="onNext()"><i class="lnr lnr-chevron-right"></i></a>
          </div>
          <div class="nav-item ajax-page-close-button">
            <a (click)="onClose()"><i class="lnr lnr-cross"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-12 order-md-1">
        <h2>{{ project.name }}</h2>
      </div>
    </div>

    <div class="p-20"></div>

    <div class="row" id="carousel-row" *ngIf="carouselOptions">
      <div class="col-md-8 col-sm-12 portfolio-block">
        <div class="portfolio-page-carousel">
          <owl-carousel-o [options]="carouselOptions">
            <ng-template carouselSlide *ngFor="let photo of project.photos">
              <div class="item">
                <img [src]="photo.photo" [alt]="photo.title" />
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>

        <div class="portfolio-description" *ngIf="!!project.description">
          <div class="p-20"></div>

          <div class="block-title">
            <h2>Project Description</h2>
          </div>
          <div class="text-justify">{{ project.description }}</div>
        </div>

        <div class="portfolio-page-video embed-responsive embed-responsive-16by9" *ngIf="!!project.video">
          <iframe
            class="embed-responsive-item"
            [src]="project.video | safe"
            frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>
              Summary
              <span class="badge badge-pill badge-primary ml-1 private-badge" *ngIf="project.private">PRIVATE</span>
            </h3>
          </div>
          <ul class="project-general-info mt-3">
            <li *ngIf="!!project.project_url">
              <p>
                <i class="fa fa-globe fa-icon"></i>
                <a (click)="openExternalLink(project.project_url)" class="external-link" title="Project URL">
                  {{ project.project_url }}
                  <i class="fas fa-external-link-alt fa-icon ml-1 external-link-icon"></i>
                </a>
              </p>
            </li>
            <li *ngIf="!!project.repository">
              <p>
                <i class="fa-icon fab fa-github"></i>
                <a (click)="openExternalLink(project.repository)" class="external-link" title="Github repository">
                  {{ project.repository }}
                  <i class="fas fa-external-link-alt ml-1 external-link-icon"></i>
                </a>
              </p>
            </li>
            <li>
              <p title="Project type"><i class="fas fa-file-code fa-icon"></i> {{ project.type }}</p>
            </li>
            <li>
              <p><i class="fa fa-calendar fa-icon"></i> {{ project.date | date:'longDate' }}</p>
            </li>
          </ul>

          <p class="text-justify">{{ project.summary }}</p>
          <!-- /Project Description -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li *ngFor="let technology of project.technologies"><a>{{ technology }}</a></li>
            </ul>
          </div>
          <!-- /Technology -->

          <!-- Share Buttons -->
          <div class="btn-group share-buttons" *ngIf="!!project.facebook || !!project.twitter || !!project.linkedIn">
            <div class="block-title mr-2">
              <h3>Share</h3>
            </div>
            <a (click)="openExternalLink(project.facebook)" class="btn" title="Facebook" *ngIf="!!project.facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a (click)="openExternalLink(project.twitter)" class="btn" title="Twitter" *ngIf="!!project.twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a (click)="openExternalLink(project.linkedIn)" class="btn" title="LinkedIn" *ngIf="!!project.linkedIn">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <!-- /Share Buttons -->
        </div>
        <!-- Project Description -->
        <div class="p-20"></div>
      </div>

    </div>
  </div>
</div>
