<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">

      <div class="page-title">
        <h1>Resume</h1>
        <div class="page-subtitle">
          <h4>4+ Years of Professional Experience</h4>
        </div>
      </div>

      <div id="content" class="page-content site-content single-post" role="main">

        <div class="row">
          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Experience</h2>
            </div>
            <app-spinner *ngIf="experiences.isLoading" [height]="240"></app-spinner>
            <div class="timeline clearfix" *ngIf="!experiences.isLoading">
              <div class="timeline-item clearfix" *ngFor="let experience of experiences.data">
                <h5 class="item-period current">{{ experience.start }} - {{ experience.still_working ? 'Current' : experience.end }}</h5>
                <span class="item-company">{{ experience.place }}</span>
                <h4 class="item-title">{{ experience.title }}</h4>
                <p>{{ experience.description }}</p>
              </div>
            </div>
          </div>

          <div class=" col-xs-12 col-sm-6 ">
            <div class="block-title">
              <h2>Education</h2>
            </div>
            <app-spinner *ngIf="educations.isLoading" [height]="240"></app-spinner>
            <div class="timeline clearfix" *ngIf="!educations.isLoading">
              <div class="timeline-item clearfix" *ngFor="let education of educations.data">
                <h5 class="item-period ">{{ education.year }}</h5>
                <span class="item-company">{{ education.institute }}</span>
                <h4 class="item-title">{{ education.title }}</h4>
                <p>{{ education.description }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-20"></div>

            <div class="block-title">
              <h2>Certificates</h2>
            </div>
          </div>
        </div>

        <app-spinner *ngIf="certificates.isLoading" [height]="120"></app-spinner>
        <div class="row" *ngIf="!certificates.isLoading">
          <div class="col-xs-12 col-sm-6" *ngFor="let certificate of certificates.data">
            <a (click)="openExternalLink(certificate.link)" class="lightbox">
              <div class="certificate-item clearfix">
                <div class="certi-logo">
                  <img [src]="certificate.icon" alt="logo">
                </div>

                <div class="certi-content">
                  <div class="certi-title">
                    <h4>{{ certificate.title }}</h4>
                  </div>

                  <div class="certi-id">
                    <span>{{ certificate.institute }}</span>
                  </div>
                  <div class="certi-date">
                    <span>{{ certificate.date | date:'longDate' }}</span>
                  </div>

                  <div class="certi-company">
                    <span></span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-40"></div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-4 skill-item">
            <div class="block-title">
              <h2>Frontend Skills</h2>
            </div>
            <app-spinner [height]="150" [widthPercent]="80" *ngIf="frontendSkills.isLoading"></app-spinner>
            <ng-container *ngIf="!frontendSkills.isLoading">
              <app-skill-bar [skill]="skill" *ngFor="let skill of frontendSkills.data"></app-skill-bar>
            </ng-container>
          </div>

          <div class=" col-xs-12 col-sm-4 skill-item">
            <div class="block-title">
              <h2>Backend Skills</h2>
            </div>
            <app-spinner [height]="150" [widthPercent]="80" *ngIf="backendSkills.isLoading"></app-spinner>
            <ng-container *ngIf="!backendSkills.isLoading">
              <app-skill-bar [skill]="skill" *ngFor="let skill of backendSkills.data"></app-skill-bar>
            </ng-container>
          </div>

          <div class=" col-xs-12 col-sm-4 skill-item">
            <div class="block-title">
              <h2>DevOps Skills</h2>
            </div>
            <app-spinner [height]="150" [widthPercent]="80" *ngIf="devopsSkills.isLoading"></app-spinner>
            <ng-container *ngIf="!devopsSkills.isLoading">
              <app-skill-bar [skill]="skill" *ngFor="let skill of devopsSkills.data"></app-skill-bar>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
